@import 'vars';
#main-nav {
    background: $deepBlue;
    ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    li {
        width: 14%;
    }
}

section h1 {
    font-size: $sectionHeading;
    color: $deepBlue;
}